body {
  margin: 0;
}
html {
  font-size: 64px;
}

.background{
  height: 100vh;
  margin: auto;
  background-color: rgb(25, 25, 75);
  width: 80%;
  position: relative;
}

.greetings {
  color: white;
  padding-top: 10vh;
  animation: color-change 5s ease-in-out infinite;
}

.text, .name{
  font-size: 1.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 80%;
  margin: auto;
  text-align: center;
}

.music {
  background-image: url("./assets/img/silent_music.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  min-width: 120px;
  height: 1.8rem;
  background-size: contain;
  padding: 0;
  outline: none;
  float: right;
  position: absolute;
  top: 13vh;
  right: 3vw;
}

.caravan-div {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 3vh;
  display: block;
}

.caravan {
  max-height: 35vh;
  align-content: center;
  display:block;
  margin: auto;
}

@media (min-width: 301px) and (max-width: 800px) {
  .background{
    min-width: 100%;
    width: 100%;
  }
  .greetings {
    padding-top: 2vw;
  }
  .text, .name{
    font-size: 1rem;
  }
  .caravan {
    width: 80%;
  }
  .music {
    min-width: 70px;
    top:3vh;
    right: 1vw;
    height: 1rem;
  }
}

@keyframes color-change {
  0% { color: white; }
  25% { color: #ffdd47; }
  50% { color: #ff9b9b; }
  100% { color: white; }
}

.background-details{
    position: absolute;
    min-width: 100%;
    height: 70%;
    bottom: 0;
    overflow: hidden;
}

.sliding-trees { 
    bottom: 0;
    left: 0;
    max-height: 100%;
    animation: slide 10s linear infinite;
    position: absolute;
}
  
@keyframes slide {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-50%, 0);
    }
  }